@import 'variables';

*{
  transition: .3s ease-in-out;
  box-sizing: border-box;
}
.slide1{
  display:none;
}
.button {
  padding: 15px;
  border-radius: 3px;
  background-color: $darkgreen;
  color: white;
  font-family: 'Josefin Sans';
  font-weight: 600;
}
.raining{
  background-image:url("/static/img/prettypatty.png");
  background-size:50px 50px;
  animation:burgers infinite 3s;
  animation-timing-function:linear;
  z-index:10000000;
  top:0;
  left:0;
  position:fixed;
  width:100vw;
  height:100%;
  color:white;
  font-size:64px;
  text-align:center;
  font-weight: 700;
  line-height: 100vh;
  text-shadow: 2px 2px 2px black;
}
@keyframes burgers {
  0%{
    background-position:top;
  }
  100%{
    background-position:bottom;
  }
}
body{
  margin:0;
  font-family:'Josefin Sans', sans-serif;
  * {
    display: block;
  }
  a{
    text-decoration:none;
    color:inherit;
  }
  .show{
    z-index:1000!important;
    opacity:1!important;
    transition:.3s ease-in-out;
  }
  #modalback{
    opacity:0;
    position:fixed;
    z-index:0;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,.6);
    #modal{
      margin:auto;
      position:relative;
      background-color:rgba(255,255,255, .6);
      width:60%;
      height:80%;
      padding-left:5%;
      padding-top:5%;
      margin-top:5%;
      border-radius:2px;
      display:flex;
      flex-flow:row wrap;
      color:white;
      tbody{
        width:100%;
        th{
          font-size:42px;
          color:white;
          text-align:center;
          width:100%;
          i{
            color:red;
            position:absolute;
            right:25px;
            top:25px;
            &:hover{
              cursor:pointer;
            }
          }
        }
        td{
          display: flex;
          flex-flow: row;
          text-align: left;
          a{
            color:white;
            margin:30px 15px;
            font-size:24px;
            span{
              color: transparent;
              border-radius: 50%;
              border: 1px solid white;
              position: relative;
              height: 18px;
              width: 18px;
              margin-right: 5px;
              float:left;
              &:hover{
                background-color:rgba(255,255,255,.6);
              }
              &:active,&:focus{
                background-color:white;
              }
            }
            &:hover > span{
              background-color:rgba(255,255,255,.6)
            }
            &:active > span,&:focus > span{
              background-color:white;
            }
          }
        }
      }
    }
  }
  header{
    @include radial-gradient(rgba(79,137,0,0), rgba(82,135,0,.49));
    overflow: hidden;
    position: relative;
    &:before{
      content:'';
      background:linear-gradient(to top, #F0F4E8, rgba(240, 244, 232, 0));
      position:absolute;
      z-index:0;
      top:0;
      left:0;
      width:100%;
      height:100vh;
    }
    nav{
      width:100%;
      overflow:hidden;
      display: flex;
      align-items: center;
      flex-flow:row wrap;
      #logo_container{
        flex: 1 0 0;
        align-self: normal;
        img{
          width:50%;
          height:140px;
          margin-left:10%;
          position:relative;
        }
      }
      #links{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 1 0 0;
        align-self: normal;
        a{
          color:white;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 600;
          position:relative;
          z-index:2;
          &.contact{
            display:none;
          }
        }
      }
      #social{
        display: flex;
        align-items: center;
        flex: 1 0 0;
        align-self:normal;
        justify-content: space-evenly;
        a{
          padding: 10px;
          color:white;
          position:relative;
          margin: 0 3px;
        }
      }
    }
  }
  footer{
    background: url(/static/img/footer.svg);
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    padding-top:20%;
    padding-bottom:5%;
    background-position: top;
    position:relative;
    background-color:$palegreen;

    .logo{
      float:left;
    }
    .references{
      ul{
        display:flex;
        align-items: left;
        list-style-type:none;
        flex-flow: column;
        float:left;
        color:white;
        margin-left:5%;
        li{
          padding-bottom:7%;
          text-align:left;
        }
      }
    }
    .social{
      width:100%;
      flex-flow:column;
      align-items: center;
      justify-content: center;
      display:flex;
      color:white;
      .thelinks{
        flex-flow:row wrap;
        display:flex;
        justify-content: center;
        a{
          margin:0 30px;
        }
      }
    }
  }
  script{
    display:none;
  }
}

@media screen and (max-width:650px){
  .contact{
    display:block;
  }
  .slide1{
    display:block;
    width:150px!important;
  }
  .logo{
    width:100%;
  }
  #hamburger{
    z-index:5;
    position:relative;
    left:-25px;
  }
  .bar1,.bar2,.bar3 {
    width: 35px;
    height: 5px;
    background-color: #f2f2f2;
    margin: 6px 0;
    right:50px;
    top:50px;
  }
  #social{
    opacity:0;
  }
  #links{
    display:flex;
    align-items:center;
    flex-flow:column;
    justify-content: space-evenly;
    right:-500px;
    top:0;
    bottom:0;
    left:0;
    position:relative;
    z-index:10;
    background-color:rgba($lightgreen,.6);
    height:100vh;
    width:150px;
    color:white;
    &.contact{
      opacity:1;
    }
    a{
      text-align:center;
      font-size:20px;
    }
  }
  .open{
    right:0!important;
  }
}
