$blue:#B3ECFF;

*{
  font-family:'Raleway', sans-serif;
}

body{
  color:white;
  background-image:url("https://images.pexels.com/photos/917479/pexels-photo-917479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size:100% 100%;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

a{
  background-color:$blue;
  padding: 15px 50px;
  text-shadow:1px 1px 1px black;
}

#locations,#description,#submit{
  display:flex;
  justify-content:space-evenly;
  flex-flow:row;
  margin:5% 0;
}

#locations select{
  background-color:white;
  color:$blue;
  padding: 15px 50px;
  font-size:16px;
}

#locations .sideL, #description .sideR{
  display:flex;
  flex-flow:column;
}

#locations .sideL{
  justify-content: space-evenly;
}

#description .sideR{
  justify-content: flex-end;
  h4{
    font-size:20px;
    text-align:center;
  }
  #price{
    margin-bottom:100%;
  }
  #title{
    margin-bottom:50%;
  }
  input{
    border:1px solid white;
    width:100px;
    font-size:20px;
    text-align:center;
    color:white;
    background-color:transparent;
    &::placeholder{
      color:white;
      text-align:center; 
    } 
  } 
}

.sideL{ 
  width:205px;
  h4{
    text-align:center;
  }
} 

.sideR{
  width:100px;
}

.middle input, .middle iframe{
  width:600px;
}
 
.middle{
  input{
    padding-bottom:400px;
  }
  iframe{
    height:420px;
  }
}
#submit{
  justify-content: flex-end;
  a{
    float:right;
    margin-right:10%;
  }
}