footer
  img.logo(src="/static/img/logo.png")
  .references
    ul
      li
        h3 LOCATIONS
      li Kingsburg, CA
      li 1702 Draper St
      li (559) 419-9321
      br/
      li Visalia, CA
      li 1234 Stacked St
      li (559) 213-6457
    ul
      li
        h3 QUICK LINKS
      li Back to Home
      li View The Menu
      li Browse Deals
      li Contact Us
      li Find a Location
  div.social
    h4 CHECK US OUT ON SOCIAL MEDIA
    br/
    .thelinks
      a(href="#")
        i.fab.fa-facebook-f.fa-2x
      a(href="#")
        i.fab.fa-twitter.fa-2x
      a(href="#")
        i.fab.fa-instagram.fa-2x
  block customFooter
