nav
  #logo_container
    img(src="/static/img/navlogo.png" alt="logo")
  #links
    a(href="/index/#deals") DEALS
    a(href="menu") MENU
    a(href="/index/#hours") HOURS
    a(href="contact").contact CONTACT US
  #social
    a(href="#")
      i.fab.fa-facebook-f.fa-2x
    a(href="#")
      i.fab.fa-twitter.fa-2x
    a(href="#")
      i.fab.fa-instagram.fa-2x
  #hamburger
    .bar1
    .bar2
    .bar3
