nav
  #logo_container
    img(src="http://via.placeholder.com/400x125" alt="logo")
  #links
    a(href="#") DEALS
    a(href="#") MENU
    a(href="#") HOURS
  #social
    a(href="#")
      i.fab.fa-facebook-f.fa-2x
    a(href="#")
      i.fab.fa-twitter.fa-2x
    a(href="#")
      i.fab.fa-instagram.fa-2x
