nav
  #logo_container
    img(src="/static/img/navlogo.png" alt="logo")
  #links
    a(href="deals") DEALS
    a(href="menu") MENU
    a(href="hours") HOURS
  #social
    a(href="#")
      i.fab.fa-facebook-f.fa-2x
    a(href="#")
      i.fab.fa-twitter.fa-2x
    a(href="#")
      i.fab.fa-instagram.fa-2x
