doctype html
html(lang="en")
    include ./partials/_head.pug
    body
      block content
        block customFooter
    // pluginJS
    // ajax
    // VueJS
    // React
    // firebase
    // etc.
    script(src="/static/js/GLOBALS.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js")
    script.
      var mySwiper = new Swiper ('.swiper1', {
        // Optional parameters
        direction: 'horizontal',
        loop: false,
        width:"100%",
        spaceBetween:25,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      });
      var mySwiper = new Swiper ('.swiper2', {
        // Optional parameters
        direction: 'horizontal',
        loop: false,
        width:225,
        spaceBetween:25,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      })
    // customJS
    block customJS
