doctype html
html(lang="en")
    include ./partials/_head.pug
    body
      .allwrap.swiper-container
        .swiper-wrapper.mainwrapper
          .swiper-slide.slide1.menu
          .swiper-slide.slide2.content
            #modalback
              table#modal
                tbody
                  tr(style="width:100%")
                    th Which Location?
                      i.fas.fa-times-circle
                  tr
                    td
                      a(href="https://goo.gl/maps/5hnbbdy6Ufz")
                        span •
                        |Kingsburg
                  tr
                    td
                      a(href="#")
                        span •
                        |Visalia
            block content
              block customFooter
    // pluginJS
    // ajax
    // VueJS
    // React
    // firebase
    // etc.
    script(src="/static/js/GLOBALS.js")
    // customJS
    block customJS
    script.
      if(document.body.clientWidth < 600){
        var menuButton = document.querySelector('#hamburger');
        var swiper = new Swiper('.allwrap', {
          slidesPerView: 'auto',
          initialSlide: 0,
          resistanceRatio: 0,
          slideToClickedSlide: true,
          nested: true,
          on: {
            init: function () {
              var slider = this;
              menuButton.addEventListener('click', function () {
                if (slider.activeIndex === 0) {
                  slider.slideNext();
                } else {
                  slider.slidePrev();
                }
              }, true);
            },
          }
        });
      }
