doctype html
html(lang="en")
    include ./partials/_head.pug
    body
      block content
        block customFooter
    // pluginJS
    // ajax
    // VueJS
    // React
    // firebase
    // etc.
    script(src="/static/js/GLOBALS.js")
    // customJS
    block customJS
