extends LAYOUT.pug

block customCSS
  link(href="/static/css/menu.css" rel="stylesheet" type="text/css")

block content
  header
    img(src="http://via.placeholder.com/350x125")
  main
    section.stack
      div.rows
        div
          h1.number 1
          h3 Stack your burger
        h4 Lettuce wrap and power bowl available for all sandwiches
      div.rows
        h3 $7
        h3 $9
        h3 $11
        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90" height="61" viewBox="0 0 90 61" version="1.1")
          g#Canvas(transform="translate(-1787 -341)")
            g#Single
              g#Vector
                mask#mask0_outline_ins
                  use(xlink:href="#path0_fill" fill="white" transform="translate(1787 341)")
                g(mask="url(#mask0_outline_ins)")
                  use(xlink:href="#path1_stroke_2x" transform="translate(1787 341)" fill="#FFFFFF" fill-opacity="0.6")
            g#Vector
              mask#mask1_outline_ins
                use(xlink:href="#path2_fill" fill="white" transform="matrix(-1 -8.82981e-08 8.65561e-08 -1 1877 402)")
              g(mask="url(#mask1_outline_ins)")
                use(xlink:href="#path3_stroke_2x" transform="matrix(-1 -8.82981e-08 8.65561e-08 -1 1877 402)" fill="#FFFFFF" fill-opacity="0.6")
            g#Rectangle
              mask#mask2_outline_ins
                use(xlink:href="#path4_fill" fill="white" transform="translate(1787 365.52)")
              g(mask="url(#mask2_outline_ins)")
                use(xlink:href="#path5_stroke_2x" transform="translate(1787 365.52)" fill="#FFFFFF" fill-opacity="0.6")
          defs
            path#path0_fill(d="M 89.9661 21.5294L 0 21.5294C 0 9.63904 9.63905 0 21.5294 0L 68.4367 0C 80.327 0 89.9661 9.63904 89.9661 21.5294Z")
            path#path1_stroke_2x(d="M 0 21.5294L -5 21.5294C -5 24.2908 -2.76142 26.5294 1.11022e-15 26.5294L 0 21.5294ZM 89.9661 21.5294L 89.9661 26.5294C 92.7275 26.5294 94.9661 24.2908 94.9661 21.5294L 89.9661 21.5294ZM 0 26.5294L 89.9661 26.5294L 89.9661 16.5294L 0 16.5294L 0 26.5294ZM 68.4367 -5L 21.5294 -5L 21.5294 5L 68.4367 5L 68.4367 -5ZM 21.5294 -5C 6.87763 -5 -5 6.87762 -5 21.5294L 5 21.5294C 5 12.4005 12.4005 5 21.5294 5L 21.5294 -5ZM 94.9661 21.5294C 94.9661 6.87762 83.0885 -5 68.4367 -5L 68.4367 5C 77.5656 5 84.9661 12.4005 84.9661 21.5294L 94.9661 21.5294Z")
            path#path2_fill(d="M 89.9385 15.9582L 0 15.9582C 0 7.14473 7.14473 0 15.9582 0L 73.9803 0C 82.7937 0 89.9385 7.14473 89.9385 15.9582Z")
            path#path3_stroke_2x(d="M 0 15.9582L -5 15.9582C -5 18.7196 -2.76142 20.9582 1.11022e-15 20.9582L 0 15.9582ZM 89.9385 15.9582L 89.9385 20.9582C 92.6999 20.9582 94.9385 18.7196 94.9385 15.9582L 89.9385 15.9582ZM 0 20.9582L 89.9385 20.9582L 89.9385 10.9582L 0 10.9582L 0 20.9582ZM 73.9803 -5L 15.9582 -5L 15.9582 5L 73.9803 5L 73.9803 -5ZM 15.9582 -5C 4.3833 -5 -5 4.38331 -5 15.9582L 5 15.9582C 5 9.90615 9.90615 5 15.9582 5L 15.9582 -5ZM 94.9385 15.9582C 94.9385 4.38331 85.5552 -5 73.9803 -5L 73.9803 5C 80.0323 5 84.9385 9.90616 84.9385 15.9582L 94.9385 15.9582Z")
            path#path4_fill(d="M 0 8.67157C 0 3.88239 3.88239 0 8.67157 0L 81.3284 0C 86.1176 0 90 3.88239 90 8.67157C 90 13.4607 86.1176 17.3431 81.3284 17.3431L 8.67157 17.3431C 3.8824 17.3431 0 13.4607 0 8.67157Z")
            path#path5_stroke_2x(d="M 8.67157 5L 81.3284 5L 81.3284 -5L 8.67157 -5L 8.67157 5ZM 81.3284 12.3431L 8.67157 12.3431L 8.67157 22.3431L 81.3284 22.3431L 81.3284 12.3431ZM 8.67157 12.3431C 6.64382 12.3431 5 10.6993 5 8.67157L -5 8.67157C -5 16.2222 1.12097 22.3431 8.67157 22.3431L 8.67157 12.3431ZM 85 8.67157C 85 10.6993 83.3562 12.3431 81.3284 12.3431L 81.3284 22.3431C 88.879 22.3431 95 16.2222 95 8.67157L 85 8.67157ZM 81.3284 5C 83.3562 5 85 6.64382 85 8.67157L 95 8.67157C 95 1.12097 88.879 -5 81.3284 -5L 81.3284 5ZM 8.67157 -5C 1.12097 -5 -5 1.12097 -5 8.67157L 5 8.67157C 5 6.64382 6.64382 5 8.67157 5L 8.67157 -5Z")
        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90" height="82" viewBox="0 0 90 82" version="1.1")
          g#Canvas(transform="translate(-2007 -320)")
            g#Double
              g#Vector
                mask#mask0_outline_ins
                  use(xlink:href="#path0_fill" fill="white" transform="translate(2007.03 320)")
                g(mask="url(#mask0_outline_ins)")
                  use(xlink:href="#path1_stroke_2x" transform="translate(2007.03 320)" fill="#FFFFFF" fill-opacity="0.6")
              g#Vector
                mask#mask1_outline_ins
                  use(xlink:href="#path2_fill" fill="white" transform="matrix(-1 -8.9022e-08 8.58523e-08 -1 2097 402)")
                g(mask="url(#mask1_outline_ins)")
                  use(xlink:href="#path3_stroke_2x" transform="matrix(-1 -8.9022e-08 8.58523e-08 -1 2097 402)" fill="#FFFFFF" fill-opacity="0.6")
              g#Rectangle
                mask#mask2_outline_ins
                  use(xlink:href="#path4_fill" fill="white" transform="translate(2007 365.256)")
                g(mask="url(#mask2_outline_ins)")
                  use(xlink:href="#path5_stroke_2x" transform="translate(2007 365.256)" fill="#FFFFFF" fill-opacity="0.6")
              g#Rectangle
                mask#mask3_outline_ins                  use(xlink:href="#path4_fill" fill="white" transform="translate(2007 345.324)")
                g(mask="url(#mask3_outline_ins)")
                  use(xlink:href="#path5_stroke_2x" transform="translate(2007 345.324)" fill="#FFFFFF" fill-opacity="0.6")
                
          defs
            path#path0_fill(d="M 89.966 21.7059L 0 21.7059C 0 9.71806 9.71804 0 21.7059 0L 68.2601 0C 80.248 0 89.966 9.71806 89.966 21.7059Z")
            path#path1_stroke_2x(d="M 0 21.7059L -5 21.7059C -5 24.4673 -2.76142 26.7059 1.11022e-15 26.7059L 0 21.7059ZM 89.966 21.7059L 89.966 26.7059C 92.7274 26.7059 94.966 24.4673 94.966 21.7059L 89.966 21.7059ZM 0 26.7059L 89.966 26.7059L 89.966 16.7059L 0 16.7059L 0 26.7059ZM 68.2601 -5L 21.7059 -5L 21.7059 5L 68.2601 5L 68.2601 -5ZM 21.7059 -5C 6.95661 -5 -5 6.95664 -5 21.7059L 5 21.7059C 5 12.4795 12.4795 5 21.7059 5L 21.7059 -5ZM 94.966 21.7059C 94.966 6.95664 83.0094 -5 68.2601 -5L 68.2601 5C 77.4865 5 84.966 12.4795 84.966 21.7059L 94.966 21.7059Z")
            path#path2_fill(d="M 89.9384 16.089L 0 16.089C 0 7.20329 7.20328 0 16.089 0L 73.8494 0C 82.7351 0 89.9384 7.20329 89.9384 16.089Z")
            path#path3_stroke_2x(d="M 0 16.089L -5 16.089C -5 18.8504 -2.76142 21.089 1.11022e-15 21.089L 0 16.089ZM 89.9384 16.089L 89.9384 21.089C 92.6998 21.089 94.9384 18.8504 94.9384 16.089L 89.9384 16.089ZM 0 21.089L 89.9384 21.089L 89.9384 11.089L 0 11.089L 0 21.089ZM 73.8494 -5L 16.089 -5L 16.089 5L 73.8494 5L 73.8494 -5ZM 16.089 -5C 4.44185 -5 -5 4.44187 -5 16.089L 5 16.089C 5 9.96471 9.96471 5 16.089 5L 16.089 -5ZM 94.9384 16.089C 94.9384 4.44186 85.4965 -5 73.8494 -5L 73.8494 5C 79.9737 5 84.9384 9.96472 84.9384 16.089L 94.9384 16.089Z")
            path#path4_fill(d="M 0 8.42347C 0 3.77132 3.77132 0 8.42347 0L 81.5765 0C 86.2286 0 89.9999 3.77132 89.9999 8.42347C 89.9999 13.0756 86.2286 16.8469 81.5764 16.8469L 8.42346 16.8469C 3.77131 16.8469 0 13.0756 0 8.42347Z")
            path#path5_stroke_2x(d="M 8.42347 5L 81.5765 5L 81.5765 -5L 8.42347 -5L 8.42347 5ZM 81.5764 11.8469L 8.42346 11.8469L 8.42346 21.8469L 81.5764 21.8469L 81.5764 11.8469ZM 8.42346 11.8469C 6.53274 11.8469 5 10.3142 5 8.42347L -5 8.42347C -5 15.837 1.00988 21.8469 8.42346 21.8469L 8.42346 11.8469ZM 84.9999 8.42347C 84.9999 10.3142 83.4672 11.8469 81.5764 11.8469L 81.5764 21.8469C 88.99 21.8469 94.9999 15.8371 94.9999 8.42347L 84.9999 8.42347ZM 81.5765 5C 83.4672 5 84.9999 6.53273 84.9999 8.42347L 94.9999 8.42347C 94.9999 1.0099 88.99 -5 81.5765 -5L 81.5765 5ZM 8.42347 -5C 1.0099 -5 -5 1.00989 -5 8.42347L 5 8.42347C 5 6.53274 6.53274 5 8.42347 5L 8.42347 -5Z")
    
    section.toppings
    div.rows
      div
        h1.number 2
        h3 Choose toppings
      h4 Plus, your choice of:
