extends LAYOUT.pug

block customCSS
  link(href="/static/css/menu.css" rel="stylesheet" type="text/css")

block content
  header
    include ./partials/nav.pug
    div
      #logowall
      #appstore
        h2 Order Online Today
        h4 Download the app
        .googleplay
        .apple
    #menu
      main
        #menunav
          img(src="/static/img/navlogo.png" alt="Stacked Bar and Grill")
          a.findaloc(href="#") Find a Location
        section.stack
          div.upper.rows
            div
              h1.number 1
              h2 Stack your burger
            h4 Lettuce wrap and power bowl available for all sandwiches
          div.lower.rows
            div
              h1 $7
              img(src="/static/img/Single.png" alt="Single Burger" title="Single Burger")
              h3 Single
            div
              h1 $9
              img(src="/static/img/Double.png" alt="Double Burger" title="Double Burger")
              h3 Double
            div
              h1 $11
              img(src="/static/img/Triple.png" alt="Triple Burger" title="Triple Burger")
              h3 Triple
        div.upper.rows
          div
            h1.number 2
            h2 Choose toppings
          h4(style="color:white") American, Swiss, or Pepper Jack
          h4 Plus, your choice of:
        div.options.toppings
          ul
            li Lettuce
            li Tomato
            li Grilled Onions
            li Pickles
            li Jalape&#241;os
            li Stacked Sauce
            li Mayo
            li Mustard
            li BBQ Sauce
            li Relish
        div.upper.rows
          div
            h1.number 3
            h2 Add premium extras
          h4 All extras cost $1
        div.options.extras
          ul
            li Applewood Bacon
            li Mushrooms
            li Blue Cheese
            li Fried Egg
            li Avocado
            li Chili Cheese
        div.upper.rows
          div
            h1.number 4
            h2 Make it a combo
        div.options.combos
          h3 Add regular fries and a soft drink ..................... $2.5
          h3 Add sweet potato fries and a soft drink ........... $4.5
      section.otheritems
        div.salads
          h1 Salads
          h3 
            span $8
            | Grilled Chicken
          h3 
            span $8
            | Spicy Chicken
          h3 
            span $8
            | Grilled Chicken Caesar
          h3 
            span $6
            | Green Salad
        div.sandwiches
          h1 Sandwiches
          h3 
            span $8 
            | Grilled Chicken
          h3
            span $8
            | Spicy Chicken
        div.extras
          h1 Extras
          h3 
            span $3
            | Crinkled Fries
          h3 
            span $4
            | Sweet Potato Fries
          h3 
            span $6
            | Stacked Fries
          h3 
            span $5
            | Mozeralla Sticks
            h3 
              span $5
              | Chicken Tenders
            h3 
              span $3
              | Onion Rings
      section.kids
        h3 Kids Meal or Student Special ...... $6.5
        h4 Small Cheeseburger or Chicken Strips, Fries & Soft Drink
  include ./partials/_footer.pug
  block customFooter
  block customJS
    script(src="/static/js/menu.js")
