doctype html
html(lang="en")
    include ./partials/_head.pug
    block customCSS
      link(rel="stylesheet" href="/static/css/post.css" type='text/css')
      link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
      script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    body
      form(method="post")
        #locations
          .sideL
            select
              option(disabled selected value) Dropdown
              option(value="Kingsburg") Kingsburg
              option(value="Visalia") Visalia
            a(href="#") Apply To All
            a(href="#") New Location
          .middle
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3206.5437199406465!2d-119.55114388471803!3d36.51687488000782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8094e431b90eadcd%3A0x54174ab9b495fb83!2sStacked+Bar+And+Grill!5e0!3m2!1sen!2sus!4v1526924664160" width="650" height="420" frameborder="0" style="border:0" allowfullscreen)
            #overlay
              h4 Click To Input New Location
          .sideR
        #description
          .sideL
            h4 Description:
          .middle
            input(type="text" placeholder="Description...")
          .sideR
            #price
              h4 Price
              input(type="number" placeholder="00.00")
            #title
              h4 Title
              input(type="text" placeholder="Burger...")
        #submit
          a(href="#") Create  
    script(src='https://www.gstatic.com/firebasejs/5.0.2/firebase.js')
    script.
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBvbS4VXHWx-x1a6Fax9jFtMGw7DZl5v-U",
        authDomain: "testing-90675.firebaseapp.com",
        databaseURL: "https://testing-90675.firebaseio.com",
        projectId: "testing-90675",
        storageBucket: "testing-90675.appspot.com",
        messagingSenderId: "293983059765"
      };
      firebase.initializeApp(config);
    script(type='text/javascript', src='/static/js/post.js')
    //script. 
      function preview_image(event){
        var reader = new FileReader();
        reader.onload = function(){
          var output = document.getElementById('output_image');
          output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
      }
      document.querySelector(".clear").onclick = function(){
        document.querySelector("#output_image").src= "http://via.placeholder.com/500x350";
        document.querySelector(".upload").value= "";
        document.querySelector("form").reset();
      }
    script.
      document.querySelector("#locations .middle").onmouseover = function(){
        document.querySelector("#overlay").classList.add("fadeOut");
      }
