body {
  background: linear-gradient(#334E3D, rgba(51, 78, 61, 0.69));
  color: white !important; }
  body main {
    display: flex;
    font-family: 'Work Sans';
    font-weight: 700; }
    body main section {
      width: 100%; }
    body main .rows {
      display: flex;
      justify-content: left;
      flex-flow: row wrap;
      width: 100%; }
      body main .rows:first-of-type {
        flex-flow: column; }
      body main .rows:last-of-type {
        justify-content: space-evenly; }
      body main .rows div {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 50px; }
        body main .rows div h3 {
          color: #C4D6A8;
          font-size: 36px;
          margin-left: 50px; }
      body main .rows h3 {
        flex-basis: 33%;
        text-align: center; }
      body main .rows h4 {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 0;
        margin-left: 150px;
        width: 30%; }
    body main .number {
      padding: 0;
      border-radius: 50%;
      background-color: #C4D6A8;
      color: #334E3D;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px; }
